extends includes/layout

block title
	title Главная

block content
			
	.wrapper
		include includes/header
		
		main.main
			section.section.section--represent
				.container
					.section__wrap.section__wrap--represent
						.represent
							.represent__title-wrap
								h1.represent__title--main 100% Qualität seit 1965
								span.represent__title--subtitle – Ihr Optik-Fachgeschäft in Wien.
							p.represent__descrip Erstklassige Qualität bei Brillenfassungen und Brillengläsern in Kombination aus Tradition und moderner Technik.
							.represent__info
								p.represent__text.represent__text--info Jetzt #[span.represent__text.represent__text--highlight kostenlosen Beratungstermin] vereinbaren:
								.represent__phone
									svg.icon.icon--phone-white
										use.icon__item(xlink:href='#phoneWhite')
									span.represent__num.text.text--small-cont 01/214 12 80
									
						.slider
							.slider__content#mainSlider
								
								- for (let i = 0; i < 3; i++)
								
									.slider__slide
										pictire.img.img--slide
											source.img__item(srcset=`img/slide-${i+1}.webp` type="image/webp")
											source.img__item(srcset=`img/slide-${i+1}.jp2` type="image/jp2")
											img.img__item(src=`img/slide-${i+1}.png` alt="slide")
							
			section.section.section--types-glasses
				.container
					
					-
						glasses = [
							{
								icon: 'old-gl',
								title: 'Brillengläser',
								descrip: 'Ob Sie kurzsichtig oder weitsichtig, in unserem Optikerfachgeschäft erhalten Sie hochwertige Brillengläser für alle Ansprüche.'
							},
							{
								icon: 'glasses',
								title: 'Brillenfassungen',
								descrip: 'Wir helfen Ihnen bei der Wahl die optimale Brillenfassung für Ihre Persönlichkeit und Ihren Typ zu finden.'
							},
							{
								icon: 'lenses',
								title: 'Kontaktlinsen',
								descrip: 'Bei Optik Béla Ellinger mitten in Wien erwartet Sie ein großes Sortiment an Kontaktlinsen für jeden optimal angepasst.'
							}
						];
					
					.wrap.wrap--teasers
						each glassesItem in glasses
							article.teaser
								.teaser__icon
									svg.icon.icon--glass(class=`icon--glass-${glassesItem.icon}`)
										use.icon__item(xlink:href=`#${glassesItem.icon}`)
								h3.teaser__title=glassesItem.title
								p.teaser__descrip.text.text--content=glassesItem.descrip
								a.teaser__btn(href=glassesItem.icon)
							
			section.section.section--subscribe
				.container
					.section__wrap.section__wrap--subscribe
						.section__header.section__header--eye-line.section__header--subscribe
							h2.section__title.section__title--section Wir haben Ihr Interesse geweckt?
							span.section__subtitle Jetzt einen Termin kostenlosen Sehtest vereinbaren!
						form.form(action="#" method="get")
							.form__fields
								.form__part.form__part--left
									label.form__label(for="#user-name")
										.form__icon
											svg.icon.icon--user
												use.icon__item(xlink:href='#user')
										input.form__item.text.text--content(type="text" name="user-name" placeholder="Ihr Vor- und Nachname" required)
									label.form__label(for="#user-email")
										small.form__icon.form__icon--mail @
										input.form__item.text.text--content(type="email" name="user-email" placeholder="Ihre E-Mail Adresse" required)
									label.form__label(for="#user-tel")
										.form__icon
											svg.icon.icon--phone
												use.icon__item(xlink:href='#phone')
										input.form__item.text.text--content(type="tel" name="user-tel" placeholder="Ihre Telefonnummer" required)
								.form__part.form__part--right
									label.form__label(for="#user-date")
										.form__icon
											svg.icon.icon--calendar
												use.icon__item(xlink:href='#calendar')
										input.form__item.text.text--content(type="date" name="user-date" placeholder="Datum auswählen" required)
									label.form__label.form__label--mess(for="#user-mess")
										.form__icon
											svg.icon.icon--mess
												use.icon__item(xlink:href='#mess')
										textarea.form__item.form__item--textarea.text.text--content( name="user-mess" placeholder="Ihre Nachricht an uns")
							.form__footer
								label.form__checkbox
									input.form__item.form__item--checkbox(type="checkbox" name="user-agree")
									p.form__text.text.text--content Die #[span.form__highlight Datenschutzerklärung] habe ich gelesen und akzeptiert
								button.form__btn(type="submit")
									span.form__btn-text.text.text--content Nachricht abschicken
									svg.icon.icon--arrow
										use.icon__item(xlink:href='#dropdown')
								
			section.section.section--map
				iframe.map(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7255.2474821098895!2d36.23754779724271!3d49.9904093631676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1601976864866!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
			
		include includes/footer
		
		include includes/burger
